body {
    font-family: Arial, sans-serif;
    background: url('images/laughing-image1.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.container {
    background: #fff;
    padding: 20px;
    margin-top: 26vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin: 20px 0;
    color: #555;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}
